<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title">Gestion des personnels</h4>
            <button class="btn btn-primary" (click)="openAddPersonnelModal(addPersonnelModal)">Ajouter Personnel</button>

          </div>
  
          <table class="table">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Département</th>
                <th>Numéro de téléphone</th>
                <th>Poste</th>
                <th>Rôle</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let personnel of personnels">
                <td>{{ personnel.nom }}</td>
                <td>{{ personnel.prenom }}</td>
                <td>{{ personnel.email }}</td>
                <td>{{ personnel.departement }}</td>
                <td>{{ personnel.numTel }}</td>
                <td>{{ personnel.poste }}</td>
                <td>{{ personnel.role }}</td>
                <td>
                    <button class="btn btn-primary" (click)="editPersonnel(personnel)">Modifier</button>


                  <button class="btn btn-danger" (click)="deletePersonnel(personnel.id)">Supprimer</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Add Personnel Modal -->
  <ng-template #addPersonnelModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Ajouter Personnel</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <!-- Add personnel form -->
      <form [formGroup]="addPersonnelForm" (ngSubmit)="saveNewPersonnel()">
        <div class="mb-3">
          <label for="nom" class="form-label">Nom</label>
          <input type="text" formControlName="nom" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="prenom" class="form-label">Prénom</label>
          <input type="text" formControlName="prenom" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" formControlName="email" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="departement" class="form-label">Département</label>
          <input type="text" formControlName="departement" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="numTel" class="form-label">Numéro de téléphone</label>
          <input type="text" formControlName="numTel" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="poste" class="
          orm-label">Poste</label>
          <input type="text" formControlName="poste" class="form-control" required>
          </div>
          <div class="mb-3">
          <label for="role" class="form-label">Rôle</label>
          <select formControlName="role" class="form-control" required>
          <option value="admin">ROLE_CHEF</option>
          <option value="user">ROLE_ADMIN</option>
          <option value="user">ROLE_PERSONNEL</option>
          
          </select>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel')">Annuler</button>
          <button type="submit" class="btn btn-primary">Enregistrer</button>
          </div>
          </form>
          
            </div>
          </ng-template>