<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="card-title">Gestion des autorisations</h4>
          <button class="btn btn-primary" (click)="openModal(demandeAutorisationModal, null)">Demande Autorisation</button>
        </div>

        <div class="table-responsive">
          <table class="table mb-0">
            <thead>
              <tr>
                <th>#</th>
                <th>Heure de sortie</th>
                <th>Heure de retour</th>
                <th>Motif</th>
                <th>Durée</th>
                <th>Statut</th>
                <th>Option</th>
              </tr>
            </thead>
            <tbody>
              <!-- Add your table body content here -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #demandeAutorisationModal role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Demande d'autorisation</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="autorisationForm" (ngSubmit)="onDemandeAutorisation()">
      <div class="row">
        <div class="col-lg-6">
          <div class="mb-3">
            <label for="heureSortie" class="form-label">Heure sortie</label>
            <input type="time" class="form-control form-control-sm" id="heureSortie" formControlName="heureSortie" required>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mb-3">
            <label for="heureRetour" class="form-label">Heure retour</label>
            <input type="time" class="form-control form-control-sm" id="heureRetour" formControlName="heureRetour" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="mb-3">
            <label for="motif" class="form-label">Motif</label>
            <select class="form-select form-select-sm" id="motif" formControlName="motif" required>
              <option *ngFor="let motif of motifs" [value]="motif.idMotif">{{ motif.libelle }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="mb-3">
            <label for="duree" class="form-label">Durée</label>
            <input type="text" class="form-control form-control-sm" id="duree" formControlName="duree" required>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Fermer</button>
        <button type="submit" class="btn btn-primary">Demander Autorisation</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #viewAutorisationModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Voir Autorisation</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="autorisationForm">
      <div class="row">
        <div class="col-lg-4">
          <div class="mb-3">
            <label for="HeureSortie" class="form-label">Heure de sortie</label>
            <input type="datetime-local" class="form-control form-control-sm" id="HeureSortie" formControlName="heureSortie" readonly>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mb-3">
            <label for="HeureRetour" class="form-label">Heure de retour</label>
            <input type="datetime-local" class="form-control form-control-sm" id="HeureRetour" formControlName="heureRetour" readonly>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mb-3">
            <label for="Motif" class="form-label">Motif</label>
            <input type="text" class="form-control form-control-sm" id="Motif" formControlName="motif" readonly>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mb-3">
            <label for="Duree" class="form-label">Durée</label>
            <input type="text" class="form-control form-control-sm" id="Duree" formControlName="duree" readonly>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Fermer</button>
  </div>
</ng-template>

<ng-template #deleteAutorisationModal role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Supprimer Autorisation</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Etes-vous sûr de vouloir supprimer cette autorisation?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deleteAutorisation(viewAutorisationModal)">Supprimer</button>
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Annuler</button>
  </div>
</ng-template>


